:root {
  --colour-1: #562503;
  --colour-2: #7c409a;
  --colour-3: #0079c2;
  --colour-4: #ffde00;
  --colour-5: #ef80b3;
  --colour-6: #00a25f;
  --colour-7: #ee3a43;
  --colour-8: #f58428;
}
.theme--original {
  .bg-1 {
    background-color: var(--colour-1)
  }

  .bg-2 {
    background-color: var(--colour-2)
  }

  .bg-3 {
    background-color: var(--colour-3)
  }

  .bg-4 {
    background-color: var(--colour-4)
  }

  .bg-5 {
    background-color: var(--colour-5)
  }

  .bg-6 {
    background-color: var(--colour-6)
  }

  .bg-7 {
    background-color: var(--colour-7)
  }

  .bg-8 {
    background-color: var(--colour-8)
  }

  table {
    border-style: none;
  }

  .tower::after {
    content: "";
    display: block;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    border-style: dashed;
    box-sizing: border-box;
    float: right;
  }

  .tower:not(:disabled)::after {
    animation: rotation 10s infinite linear;
  }

  .tower:hover:not(:disabled)::after {
    border-style: solid;
  }

  .tower.tower-selected::after {
    animation: rotation 10s infinite linear;
  }

  .tower.player-1::after {
    border-color: white;
  }

  .tower.player-2::after {
    border-color: black;
  }

  .tower-1::after {
    background-color: var(--colour-1)
  }

  .tower-2::after {
    background-color: var(--colour-2)
  }

  .tower-3::after {
    background-color: var(--colour-3)
  }

  .tower-4::after {
    background-color: var(--colour-4)
  }

  .tower-5::after {
    background-color: var(--colour-5)
  }

  .tower-6::after {
    background-color: var(--colour-6)
  }

  .tower-7::after {
    background-color: var(--colour-7)
  }

  .tower-8::after {
    background-color: var(--colour-8)
  }


  @media screen and (orientation: portrait) {
    table {
      border-width: 2vw;
    }

    td > button {
      border-width: 1vw;
    }

    td > button:hover:not(:disabled):not(.tower) {
      border-width: 5vw;
    }

    .tower {
      border-width: 1vw;
    }

    .tower.player-1::after {
      box-shadow: white 0 0 0 0.5vw inset;
    }

    .tower.player-2::after {
      box-shadow: black 0 0 0 0.5vw inset;
    }
  }

  @media screen and (orientation: landscape) {
    table {
      border-width: 2vh;
    }

    td > button {
      border-width: 1vh;
    }

    td > button:hover:not(:disabled):not(.tower) {
      border-width: 5vh;
    }

    .tower::after {
      border-width: 1vh;
    }

    .tower.player-1::after {
      box-shadow: white 0 0 0 0.5vh inset;
    }

    .tower.player-2::after {
      box-shadow: black 0 0 0 0.5vh inset;
    }
  }
}
