html {
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
}

body {
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  width: 100%;
  margin: 0;
}

.kamisado {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  transition: background-color 0.5s ease;
}

table {
  border-spacing: 0;
  box-sizing: border-box;
  border-collapse: collapse;
}

td {
  padding: 0;
}

td > button {
  box-sizing: border-box;
  border-style: double;
  border-color: #fff4;
  transition: border-width 0.2s ease-in-out;
  cursor: pointer;
  padding: 0;
}

td > button:disabled {
  border-style: ridge;
  cursor: revert;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
}

.modal {
  background-color: lightgray;
  padding: 2rem;
  border-style: ridge;
}

.start-button {
  margin-top: 1rem;
  padding: 0.5rem;
  border-style: ridge;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: clamp(1rem, 5vw, 3rem);;
}

.theme-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  input[type="radio"] {
    display: none;
  }
  .theme-button {
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;

    &.theme-space {
      background-image: url("../img/theme/space/thumbnail.png");
    }
    &.theme-original {
      background-image: url("../img/theme/original/thumbnail.png");
    }
  }
}

@media screen and (orientation: portrait) {
  table {
    margin: auto 0;
  }

  td > button {
    width: 12vw;
    height: 12vw;
  }

  .theme-buttons
  {
    flex-direction: column;
    gap: 1vw;
    .theme-button {
      width: 40vw;
      height: 40vw;
    }
  }
}

@media screen and (orientation: landscape) {
  table {
    margin: 0 auto;
  }

  td > button {
    width: 12vh;
    height: 12vh;
  }

  .theme-buttons {
    flex-direction: row;
    gap: 1vh;

    .theme-button {
      width: 30vh;
      height: 30vh;
    }
  }
}
@import 'theme/space';
@import 'theme/original';
