body {
  background-color: lightgray;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

table {
  border-spacing: 0;
  box-sizing: border-box;
  border-collapse: collapse;
  overflow: hidden;
}

td {
  padding: 0;
}

td > button {
  box-sizing: border-box;
  border-style: double;
  border-color: #fff4;
  transition: border-width 0.2s ease-in-out;
  cursor: pointer;
  padding: 0;
}

td > button:disabled {
  border-style: ridge;
  cursor: revert;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
}

.modal {
  background-color: lightgray;
  padding: 2rem;
  border-style: ridge;
}


@media screen and (orientation: portrait) {
  table {
    margin: auto 0;
  }

  td > button {
    width: 12.5vw;
    height: 12.5vw;
  }

  .theme-buttons .theme-button {
    width: 30vw;
    height: 30vw;
  }
}

@media screen and (orientation: landscape) {
  table {
    margin: 0 auto;
  }

  td > button {
    width: 12.5vh;
    height: 12.5vh;
  }

  .theme-buttons .theme-button {
    width: 30vh;
    height: 30vh;
  }
}

.start-button {
  margin-top: 1rem;
  padding: 0.5rem;
  border-style: ridge;
  border-radius: 0.5rem;
  cursor: pointer;
}

.theme-buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1vw;
  flex-direction: row;
  justify-content: center;
  input[type="radio"] {
    display: none;
  }
  .theme-button {
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;

    &.theme-space {
      background-image: url("../img/theme/space/thumbnail.png");
    }
    &.theme-original {
      background-image: url("../img/theme/original/thumbnail.png");
    }
  }
}
@import 'theme/space';
@import 'theme/original';
