:root {
    --colour-1: #562503;
    --colour-2: #7c409a;
    --colour-3: #0079c2;
    --colour-4: #ffde00;
    --colour-5: #ef80b3;
    --colour-6: #00a25f;
    --colour-7: #ee3a43;
    --colour-8: #f58428;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
body {
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

table {
    border-spacing: 0;
    border-style: ridge;
    box-sizing: border-box;
    border-collapse: collapse;
}

td {
    padding: 0;
}

td > button {
    box-sizing: border-box;
    border-style: double;
    border-color: #fff4;
    transition: border-width 0.2s ease-in-out;
    cursor: pointer;
    padding: 0;
}

td > button:disabled {
    border-style: ridge;
    cursor: revert;
}

@media screen and (orientation:portrait) {
    table {
        margin: 0 auto;
        border-width: 2vw;
    }
    td > button {
        width: 12vw;
        height: 12vw;
        border-width: 1vw;
    }
    td > button:hover:not(:disabled):not(.tower) {
        border-width: 5vw;
    }
    .tower {
        border-width: 1vw;
    }
    .tower.player-1::after {
        box-shadow: white 0 0 0 0.5vw inset;
    }
    .tower.player-2::after {
        box-shadow: black 0 0 0 0.5vw inset;
    }
}

@media screen and (orientation:landscape) {
    table {
        margin: 0 auto;
        border-width: 2vh;
    }
    td > button {
        width: 12vh;
        height: 12vh;
        border-width: 1vh;
    }
    td > button:hover:not(:disabled):not(.tower) {
        border-width: 5vh;
    }
    .tower::after {
        border-width: 1vh;
    }
    .tower.player-1::after {
        box-shadow: white 0 0 0 0.5vh inset;
    }
    .tower.player-2::after {
        box-shadow: black 0 0 0 0.5vh inset;
    }
}

.bg-1 {background-color: var(--colour-1)}
.bg-2 {background-color: var(--colour-2)}
.bg-3 {background-color: var(--colour-3)}
.bg-4 {background-color: var(--colour-4)}
.bg-5 {background-color: var(--colour-5)}
.bg-6 {background-color: var(--colour-6)}
.bg-7 {background-color: var(--colour-7)}
.bg-8 {background-color: var(--colour-8)}

.tower::after {
    content: "";
    display: block;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    border-style: dashed;
    box-sizing: border-box;
    float: right;
}
.tower:not(:disabled)::after {
    animation: rotation 10s infinite linear;
}
.tower:hover:not(:disabled)::after {
    border-style: solid;
}
.tower.tower-selected::after {
    animation: rotation 10s infinite linear;
}
.tower.player-1::after {
    border-color: white;
}
.tower.player-2::after {
    border-color: black;
}

.tower-1::after {background-color: var(--colour-1)}
.tower-2::after {background-color: var(--colour-2)}
.tower-3::after {background-color: var(--colour-3)}
.tower-4::after {background-color: var(--colour-4)}
.tower-5::after {background-color: var(--colour-5)}
.tower-6::after {background-color: var(--colour-6)}
.tower-7::after {background-color: var(--colour-7)}
.tower-8::after {background-color: var(--colour-8)}

.winner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
}

.modal {
    background-color: lightgray;
    padding: 2rem;
    border-style: ridge;
}
